<template>
  <div class="col-md-12">
    <strong> Hola  {{ user.last_name }}</strong>
    <img :src="user.img" width="100px">
    <ul>
      <li v-bind:key="item.id" v-for="item in foodList.results">
        <img :src="item.image"> {{ item.title }}
      </li>
    </ul>
  </div>
</template>

<script>
const axios = require('axios').default;

export default {
  name: "FoodComponent",
  data(){
    return {
      apiUrl: "https://api.spoonacular.com/recipes/complexSearch",
      foodList: [],
      user: {
        username: 'jcarlos',
        name: 'Juan Carlos López Díaz',
        last_name: "López Díaz",
        img: "https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg"
      }
    }
  },
  methods: {
    getFoodList(){
      let params = new URLSearchParams();
      params.append('query', "pasta");
      params.append('apiKey', "2c3a5eadc02a4977805ba0a9f7a70ec7");
      axios.get("https://api.spoonacular.com/recipes/complexSearch", { params })
      .then(response => (this.foodList = response.data ))
    }
  },
  mounted(){
    this.getFoodList();
  }

}
</script>

<style scoped>

</style>