<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p> Bienvenidos todos </p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: ['msg']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

</style>
