<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" width="20%">
    <HelloWorld msg="Hola, Bienvenidos al Curso de Ionic"/>
    <FoodComponent></FoodComponent>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import FoodComponent from "@/components/FoodComponent";


export default {
  name: 'App',
  components: {
    FoodComponent,
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
